* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dfe0e2;
  padding-left: 20px;
  margin-bottom: 25px;
  border-radius: 60px;
}
input {
 
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  border-radius: 60px;
}
button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #7045ff;
  color: #fff;
  font-size: 15px;
  border-radius: 60px;
  cursor: pointer;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px  12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before{
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("../images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 5px;
  left: 20px;
}
ul li.checked{
  text-decoration: line-through;
  color: #555;

}

ul li.checked::before{
  background-image: url("../images/checked.png");
}
ul li span{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 2rem;
  color: #ff0000;
  cursor: pointer;
  line-height: 20px;
  border-radius: 50%;
}
ul li span:hover{ 
  background-color: #ff0000;
  color: #fff;
}
